body {
    font-family: arial;
}
button {
    padding:10px;
    background-color:#6a67ce;
    color: #FFFFFF;
    border: 0px;
    cursor:pointer;
    border-radius: 5px;
}
#output {
    background-color:#F9F9F9;
    padding:10px;
    width: 100%;
    margin-top:20px;
    line-height:30px;
}
.hide {
    display:none;
}
.show {
    display:block;
}

h3 {
    color: blue;
}

#action{
    border: 2px solid gray;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(255, 162, 250);
    color: black;
}